* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  /* overflow: hidden; */
  background: #000;
}
::-webkit-scrollbar {
  scroll-behavior: smooth;
  /* display: none; */
  /* opacity: 0; */
}
.default-ltr-cache-ag96qb {
  color: red;
}
.nav_icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.nav_icons i {
  color: white;
  padding: 0 15px;
  cursor: pointer;
}
.container {
  padding: 2rem 4rem;
  margin: 0 auto;
}
nav {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.5s linear;
}
nav.active {
  padding: 0.8rem 4rem;
  background: #000000eb;
}
.logo {
  display: flex;
  justify-content: center;
  gap: 50px;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
ul li a {
  text-decoration: none;
  color: white;
}

/* movie section */
.movie_section {
  padding: 1rem 0;
}

.movie_section h2 {
  font-size: 1rem;
  color: white;
}
.movie_section h2 span {
  display: none;
  font-size: 0.7rem;
  padding-left: 5px;
  color: #54b9c5;
  transition: all 5s ease;
}

.movie_section h2:hover span {
  display: inline-block;
}
.movie_section .movies_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;

  padding: 2rem 0rem;
  overflow-y: hidden;
  /* overflow-x: scroll; */
}

.movies_row .movies_images {
  width: 250px;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.movies_row .movies_images:hover {
  transform: scale(1.2);
  z-index: 100;
}

/* banner section */
.header {
  width: 100vw;
  height: 100%;
  margin-bottom: 0rem;
  /* overflow: hidden !important; */
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 220px;
  background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
  padding: 0;
}
.header_background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: left;
}
.header_background .contant {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

.header_background .contant h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.header_background .contant .sab_title {
  font-size: 16px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: white;
}

.header_background .contant .description {
  font-size: 16px;
  font-weight: lighter;
  line-height: 25px;
  margin-bottom: 1.5rem;
  color: white;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button button {
  padding: 12px 30px;
  border: none;
  outline: none;
  background: white;
  color: black;
  border-radius: 2px;
  transition: all 0.2s ease;
  cursor: pointer;
  gap: 30px;
}
button span {
  padding-left: 10px;
}

.button button:hover {
  background-color: black;
  color: white;
}
.button .gray_btn {
  background-color: rgb(81, 73, 73);
  color: white;
}

/* banner section */
@media (max-width: 1020px) {
  nav {
    padding: 2rem 0.8rem;
  }
  nav.active {
    padding: 0.8rem 0.8rem;
    background: #000000ca;
  }
  .container {
    padding: 2rem 0.8rem;
    margin: 0 auto;
  }

  /* header */
  .header_background .contant {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }
}

@media (max-width: 980px) {
  ul {
    display: none;
  }
  .header_background .contant h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }
}
@media (max-width: 800px) {
  ul {
    display: none;
  }
  .container {
    padding: 2rem 1rem;
    margin: 0 auto;
  }
  .movies_row .movies_images {
    width: 300px;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .header_background .contant {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }
}
@media (max-width: 450px) {
  .header_background .contant {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }
  .header_background .contant h1 {
    line-height: 2.5rem;
  }
  .container {
    padding: 2rem 0.5rem;
    margin: 0 auto;
  }

  .header {
    width: 100vw;
    height: 92vh;
    margin-bottom: 3rem;
    overflow: hidden !important;
  }
  .header_background {
    width: 100vw;
    height: 92vh;
    overflow: hidden !important;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
}
